.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 920px;
    /*border: 1px solid red;*/
    padding-left: 0;
    margin: auto;
    text-align: center;
    align-items: flex-start;
    /*box-sizing: border-box;*/
}