.header__square-pic {
    max-height: 568px;
    min-height: 500px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    right: 0;
    top: 64px;
    animation: rotation 20s linear infinite;
  }